* {
    box-sizing: border-box;
    margin: 0 auto;
}

@font-face {
    src: url("../fonts/cooper-black.ttf");
    font-family: pepito;
}

@font-face {
    src: url("../fonts/AvantGarde_Book.ttf");
    font-family: avant;
}

header {
    width: 100%;
    height: 50%;
    background-image: url("../img/rentabilidad-y-sostenibilidad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1vw;
}

h1 {
    font-family: pepito, sans-serif;
    font-size: 10vw;
    text-align: left;
    background: #e1a8c9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    padding-top: 5vw;
    padding-bottom: 3vw;
    padding-left: 5vw;
    color: transparent;
    text-decoration: none;
}

h1 a {
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

h1 a:visited {
    text-decoration: none;
}

h2 {
    padding-left: 7vw;
    padding-top: 0;
    font-family: pepito, sans-serif;
    font-size: 3vw;
    text-align: left;
    background: #9fcac0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    margin-top: -4vw;
    margin-bottom: 4vw;
    color: transparent;
}

h3 {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
    font-family: avant, sans-serif;
    font-size: 3vw;
    color: dimgrey;
    padding: 2vw;
}


nav {
    margin: 150px 25%;
    position: relative;
    width: 825px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    font-size: 0.5vw;
    opacity: 60%;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 1.5vw;
    font-family: pepito, serif;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 113px;
}

a:nth-child(2) {
    width: 113px;
}

a:nth-child(3) {
    width: 113px;
}

a:nth-child(4) {
    width: 111px;
}

a:nth-child(5) {
    width: 118px;
}

a:nth-child(6) {
    width: 120px;
}
a:nth-child(7) {
    width: 115px;
}

nav .start-home, a:nth-child(1):hover ~ .animation {
    width: 113px;
    left: 0;
    background-color: #e1a8c9;
}

nav a:nth-child(2):hover ~ .animation {
    width: 113px;
    left: 113px;
    background-color: #469101;
}

nav a:nth-child(3):hover ~ .animation {
    width: 117px;
    left: 228px;
    background-color: #e5e502;
}

nav a:nth-child(4):hover ~ .animation {
    width: 113px;
    left: 347px;
    background-color: #ffa600;
}

nav a:nth-child(5):hover ~ .animation {
    width: 119px;
    left: 458px;
    background-color: #7244ff;
}

nav a:nth-child(6):hover ~ .animation {
    width: 123px;
    left: 580px;
    background-color: #004ec2;
}
nav a:nth-child(7):hover ~ .animation {
    width: 125px;
    left: 700px;
    background-color: #ff0000;
}

section > article > p {
    display: block;
    margin-top: 3vw;
    width: 50%;
    font-family: avant, sans-serif;
    font-size: 16px;
    color: dimgrey;
    position: relative;
    text-align: justify;
}
section > article > ol {
    display: block;
    margin-top: 3vw;
    width: 50%;
    font-family: avant, sans-serif;
    font-size: 16px;
    color: dimgrey;
    position: relative;
    text-align: justify;
}
li {margin: 2vw 0;}

figure {
    margin: 2% 25%;
    width: 50%;
}

figure > img {
    width: 100%;
    height: auto;
    border: solid #004ec2 5px;
    border-radius: 8px;
}

.caja {
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.contenedor {width: 100%;
    margin: 3vw 2vw;}

footer {
    margin-top: 5vw;
    background: gray;
    padding: 2vw;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: mistyrose;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffa600;
}

footer a:hover {
    color: #ff00dd;
}

.boton { text-align: center;
    font-size: 15px;
    color: #ffffff;
    border-radius: 8px;
    background-color: #e1a8c9;
    padding: 5px 0;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
}
.boton:hover {
    background-color: #9fcac0;
    transform: translateY(-7px);
}
.boton2 { text-align: center; text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    border-radius: 8px;
    background-color: #e1a8c9;
    padding: 10px 10px;
    position: relative; margin: 0 50%;
}
.boton2:hover {
    background-color: #9fcac0;
}
@media only screen and (max-width: 500px) {
    .btn-flotante {
        font-size: 12px;
        padding: 10px 10px;
        bottom: 20px;
        right: 20px;
    }

    .caja {
        display: flex; flex-flow: column;
    }
    .contenedor {
        flex-flow: column;
    }
}
@media only screen and (max-width: 800px) {
    .btn-flotante {
        font-size: 12px;
        padding: 10px 10px;
        bottom: 20px;
        right: 20px;
    }

    .caja  {
        display: flex; flex-flow: column;
    }
    .contenedor {
        flex-flow: column;
    }
}

/*CODIGO JUAN*/
.contenedora_flex {
    background-color: rgba(225, 169, 201, 0.22);
    display: flex;

}
.images_flex {
    flex-direction: row;
    padding: 20px;

}
figure.imagenes_metal {
    flex-direction: row;
    flex-flow: row;
}

.imagenes_metal img{
    flex-direction: row;
    border: 2px grey solid;
}

.texto_metal_textil {
    margin: 40px;
    font-family: avant, sans-serif;
    font-size: 16px;
    color: dimgrey;
    position: relative;
    text-align: center;
}
.pie_foto {
    font-weight: bold;
}

